#titleLabel{
    font-size: 50px;
    padding: 90px;
}

#submitBtn{
    font-size: 20px;
    margin-left: 135px;
}

#message{
    margin-left: 120px;
    margin-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 50px;
}

.grid-item{
    text-align: center;
    border: 1px solid black;
    background-color: chocolate;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

